/*! Copyright © 2016 Caveras. All rights reserved. */


@font-face {
    font-family: 'ChronoType';
    src: url('../font/ChronoType.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}